body{
    background-color: royalblue;
}
.container{
    width: 400px;
    height: 400px;
    padding: 25px;
    margin: auto;
    background-color: rgba(78, 71, 71, 0.5);
}
.box{
        width: 400px;
    height: 400px;
    color:white;
    background-color:black;
}
